<h1>THis is a Secret</h1>
<p>You Found it!!!</p>
<img src="https://scontent-lga3-1.cdninstagram.com/v/t51.2885-19/s150x150/119521490_1044017156426564_6720201878926000169_n.jpg?_nc_ht=scontent-lga3-1.cdninstagram.com&_nc_ohc=71pw2iF-aDYAX92Hoel&oh=b3f1800888108e9b1c37469fbf6d2809&oe=5FA17001">

<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Login!</a></li> 
<li><a href="/logout">Logout!</a></li>   